html
  
  head
    link(rel="stylesheet" href="/css/styles.css")
    title Great Novels API
    h1
      img(src="../../portfolio-site/me.jpg")
      body
      h2 Great Novels API
        ul
        li **GET** http://localhost:1337/Novels
        li **GET** A list of all Novels
      h3 Series One "B" List
        li **GET** http://localhost:1337/Authors
        li **GET** A list of all Authors 
      
        ul
        li **POST** New Novel
        li **DELETE** Existing Novel