body {
  background-image: url("../images/book.jpg")
 background-color: black;
  font-size: 24px;
  color: yellow;
  height: 100%;
  background-size: 25vw;
  background-position: center 90%;
  top: 125px;
  background-repeat: no-repeat;
  margin: 20px;
}
a,
a:active,
a:hover,
a:visited {
  color: rgb(255, 115, 0);
  text-decoration: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

hr {
  color: navy;
}

h2,
h3 {
  text-decoration: underline;
  font-stretch: extra-expanded;
  font-size: 2em;
  display: inline;
}

h2 {
  text-align: left;
  float: left;
}

h3 {
  text-align: right;
  float: right;
}

li {
  font-size: x-large;
  color: rgb(255, 115, 0);
}
