body {background-image: url("../images/Magic-Book.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color:black;
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 40px;
  text-align: center;
  color: darkcyan;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px;
}


a:active,
a:hover,
a:visited {
  color: darkorchid;
  text-decoration: none;
}

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
} */

li
{
  list-style-type: none;;
}

.topics {
 padding: 30px;
 font-family: 'Calligraffitti', cursive;
 font-size: 30px;
 
}



