body {
  background-image: url('https://images.search.yahoo.com/images/view;_ylt=AwrExo_yZbZgGRgADl.JzbkF;_ylu=c2VjA3NyBHNsawNpbWcEb2lkAzBhMzcwY2QxZGUyMDA2NjE2NDBlZWYyZmQ4NWQzNDQwBGdwb3MDMTAzBGl0A2Jpbmc-?back=https%3A%2F%2Fimages.search.yahoo.com%2Fsearch%2Fimages%3Fp%3Dbooks%26fr%3Dmcafee%26fr2%3Dpiv-web%26nost%3D1%26tab%3Dorganic%26ri%3D103&w=960&h=640&imgurl=cdn.pixabay.com%2Fphoto%2F2016%2F03%2F05%2F11%2F33%2Fold-books-1237619_960_720.jpg&rurl=https%3A%2F%2Fpixabay.com%2Fphotos%2Fold-books-book-books-old-reading-1237619%2F&size=75.1KB&p=books&oid=0a370cd1de200661640eef2fd85d3440&fr2=piv-web&fr=mcafee&tt=Old+Books+Book+-+Free+photo+on+Pixabay&b=61&ni=21&no=103&ts=&tab=organic&sigr=RpuxqG8FPK9K&sigb=OaBNAS4FtWmo&sigi=Jp91mYycoMAk&sigt=FYaK1Mi1f90R&.crumb=J9sGBMVizwN&fr=mcafee&fr2=piv-web');
   /* background-color: black;
  font-size: 24px;
  color: yellow;
  height: 100%;
  background-size: 25vw;
  background-position: center 90%;
  top: 125px;
  background-repeat: no-repeat;
  margin: 20px; */
}
a,
a:active,
a:hover,
a:visited {
  color: rgb(255, 115, 0);
  text-decoration: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

hr {
  color: navy;
}

h2,
h3 {
  text-decoration: underline;
  font-stretch: extra-expanded;
  font-size: 2em;
  display: inline;
}

h2 {
  text-align: left;
  float: left;
}

h3 {
  text-align: right;
  float: right;
}

li {
  font-size: x-large;
  color: rgb(255, 115, 0);
}
